<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: PortalMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 10:01:15 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.uum.PortalMapper">
	<resultMap id="portal" type="com.mycuckoo.domain.uum.Portal">
		<id property="portalId" column="portal_id" />
		<result property="portalUserid" column="portal_userid" />
		<result property="portlet1" column="portlet1" />
		<result property="portlet2" column="portlet2" />
		<result property="portlet3" column="portlet3" />
		<result property="portlet4" column="portlet4" />
		<result property="portlet5" column="portlet5" />
		<result property="portlet6" column="portlet6" />
		<result property="portlet7" column="portlet7" />
		<result property="portlet8" column="portlet8" />
		<result property="portlet9" column="portlet9" />
	</resultMap>
	
	<sql id="colums">
		portal_id, portal_userid, portlet1, portlet2, portlet3, 
		portlet4, portlet5, portlet6, portlet7, portlet8, portlet9
	</sql>

	<!-- 插入门户： 1.由数据库生成id并赋值到Portal对象 2.输入用对象 -->
	<insert id="save" parameterType="com.mycuckoo.domain.uum.Portal">
		<selectKey keyProperty="portalId" resultType="long" order="BEFORE">
			<include refid="table.PORTAL_SEQ"/>
		</selectKey>
		insert into <include refid="table.portal"/>
		(
			portal_id, portal_userid, portlet1, portlet2, portlet3, 
			portlet4, portlet5, portlet6, portlet7, portlet8, portlet9
		)
		values (
			#{portalId}, #{portalUserid}, #{portlet1}, #{portlet2}, #{portlet3}, 
			#{portlet4}, #{portlet5}, #{portlet6}, #{portlet7}, #{portlet8}, #{portlet9}
		)
	</insert>
	
	<!-- 更新门户： 1.输入用对象 -->
	<update id="update" parameterType="com.mycuckoo.domain.uum.Portal">
		update 
			<include refid="table.portal"/>
		set
			portal_userid		= #{portalUserid},
			portlet1				= #{portlet1},
			portlet2				= #{portlet2},
			portlet3				= #{portlet3},
			portlet4				= #{portlet4},
			portlet5				= #{portlet5},
			portlet6				= #{portlet6},
			portlet7				= #{portlet7},
			portlet8				= #{portlet8},
			portlet9				= #{portlet9}
		where 
			portal_id = #{portalId}
	</update>
	
	<!-- 删除门户 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.portal"/> where portal_id = #{id}
	</delete>
	
	<!-- 删除一组门户 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.portal"/> 
		where 
			portal_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有门户 -->
	<delete id="deleteAll">
		delete from <include refid="table.portal"/>
	</delete>
	
	<!-- 门户是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.portal"/>
		where 
			portal_id = #{id}
	</select>
	
	<!-- 门户记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.portal"/>
	</select>
	
	<!--
		获取门户: 输出直接映射到对象, portal_id 列要 as portalId 以方便映射创建 Portal 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.uum.Portal">
		select 
			portal_id					as portalId,
			portal_userid			as portalUserid, 
			portlet1					as portlet1, 
			portlet2					as portlet2,
			portlet3					as portlet3, 
			portlet4					as portlet4, 
			portlet5					as portlet5, 
			portlet6					as portlet6, 
			portlet7					as portlet7, 
			portlet8					as portlet8, 
			portlet9					as portlet9
		from 
			<include refid="table.portal"/>
		where 
			portal_id = #{id}
	</select>

	<!-- 查询所有门户, 映射到portal-->
	<select id="findAll" resultMap="portal">
		select 
			*
		from 
			<include refid="table.portal"/>
	</select>
	
</mapper> 
