<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: UumOrganMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 10:03:56 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.uum.UumOrganMapper">
	<resultMap id="uumOrgan" type="com.mycuckoo.domain.uum.UumOrgan">
		<id property="orgId" column="org_id" />
		<result property="orgSimpleName" column="org_simple_name" />
		<result property="orgFullName" column="org_full_name" />
		<result property="orgCode" column="org_code" />
		<result property="orgAddress1" column="org_address1" />
		<result property="orgAddress2" column="org_address2" />
		<result property="orgTel1" column="org_tel1" />
		<result property="orgTel2" column="org_tel2" />
		<result property="orgBeginDate" column="org_begin_date" />
		<result property="orgType" column="org_type" />
		<result property="orgFax" column="org_fax" />
		<result property="orgPostal" column="org_postal" />
		<result property="orgLegal" column="org_legal" />
		<result property="orgTaxNo" column="org_tax_no" />
		<result property="orgRegNo" column="org_reg_no" />
		<result property="orgBelongDist" column="org_belong_dist" />
		<result property="status" column="status" />
		<result property="memo" column="memo" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="uumOrgan.orgId" column="org_parent" />
		<!-- <association property="uumOrgan" javaType="com.mycuckoo.domain.uum.UumOrgan" resultMap="com.mycuckoo.persistence.uum.uumOrgan" /> -->
		<!-- <collection property="uumOrgRoleRefs" javaType="com.mycuckoo.domain.uum.UumOrgRoleRefs" resultMap="com.mycuckoo.persistence.uum.uumOrgRoleRefs" />  -->
	</resultMap>
	
	<sql id="colums">
		org_id, org_parent, org_simple_name, org_full_name, org_code, 
		org_address1, org_address2, org_tel1, org_tel2, org_begin_date, 
		org_type, org_fax, org_postal, org_legal, org_tax_no, 
		org_reg_no, org_belong_dist, status, memo, creator, createDate
	</sql>

	<!-- 
		插入数据： 
		1.由数据库生成id并赋值到对象 
		2.输入是对象参数, 嵌套属性表达式如: #{uumOrgan.orgId} 
	-->
	<insert id="save" parameterType="com.mycuckoo.domain.uum.UumOrgan">
		<selectKey keyProperty="orgId" resultType="long" order="BEFORE">
			<include refid="table.UUM_ORGAN_SEQ"/>
		</selectKey>
		insert into <include refid="table.uum_organ"/>
		(
			org_id, org_parent, org_simple_name, org_full_name, org_code, 
			org_address1, org_address2, org_tel1, org_tel2, org_begin_date, 
			org_type, org_fax, org_postal, org_legal, org_tax_no, 
			org_reg_no, org_belong_dist, status, memo, creator, create_date
		)
		values (
			#{orgId}, #{uumOrgan.orgId}, #{orgSimpleName}, #{orgFullName}, #{orgCode}, 
			#{orgAddress1}, #{orgAddress2}, #{orgTel1}, #{orgTel2}, #{orgBeginDate}, 
			#{orgType}, #{orgFax}, #{orgPostal}, #{orgLegal}, #{orgTaxNo}, 
			#{orgRegNo}, #{orgBelongDist}, #{status}, #{memo}, #{creator}, #{createDate}
		)
	</insert>
	
	<!-- 更新数据： 1.输入是对象参数, 嵌套属性表达式如: #{uumOrgan.orgId} -->
	<update id="update" parameterType="com.mycuckoo.domain.uum.UumOrgan">
		update 
			<include refid="table.uum_organ"/>
		set
			org_parent					= #{uumOrgan.orgId},
			org_simple_name			= #{orgSimpleName},
			org_full_name				= #{orgFullName},
			org_code						= #{orgCode},
			org_address1				= #{orgAddress1},
			org_address2				= #{orgAddress2},
			org_tel1						= #{orgTel1},
			org_tel2						= #{orgTel2},
			org_begin_date			= #{orgBeginDate},
			org_type						= #{orgType},
			org_fax							= #{orgFax},
			org_postal					= #{orgPostal},
			org_legal						= #{orgLegal},
			org_tax_no					= #{orgTaxNo},
			org_reg_no					= #{orgRegNo},
			org_belong_dist			= #{orgBelongDist},
			status							= #{status},
			memo								= #{memo},
			creator							= #{creator},
			create_date					= #{createDate}
		where 
			org_id = #{orgId}
	</update>
	
	<!-- 删除数据 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.uum_organ"/> where org_id = #{id}
	</delete>
	
	<!-- 删除一组数据 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.uum_organ"/> 
		where 
			org_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有数据 -->
	<delete id="deleteAll">
		delete from <include refid="table.uum_organ"/>
	</delete>
	
	<!-- 数据记录是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.uum_organ"/>
		where 
			org_id = #{id}
	</select>
	
	<!-- 统计所有数据记录 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.uum_organ"/>
	</select>
	
	<!--
		获取数据: 输出直接映射到对象, org_code 列要 as orgCode 以方便映射, org_parent as "uumOrgan.orgId" 创建 UumOrgan 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.uum.UumOrgan">
		select 
			org_id						as orgId,
			org_parent				as "uumOrgan.orgId", 
			org_simple_name		as orgSimpleName, 
			org_full_name			as orgFullName,
			org_code					as orgCode, 
			org_address1			as orgAddress1, 
			org_address2			as orgAddress2, 
			org_tel1					as orgTel1, 
			org_tel2					as orgTel2, 
			org_begin_date		as orgBeginDate, 
			org_type					as orgType, 
			org_fax						as orgFax, 
			org_postal				as orgPostal, 
			org_legal					as orgLegal, 
			org_tax_no				as orgTaxNo, 
			org_reg_no				as orgRegNo, 
			org_belong_dist		as orgBelongDist, 
			status						as status,
			memo							as memo,
			creator						as creator, 
			create_date				as createDate
		from 
			<include refid="table.uum_organ"/>
		where 
			org_id = #{id}
	</select>

	<!-- 查询数据, 映射到UumOrgan-->
	<select id="findAll" resultMap="uumOrgan">
		select 
			*
		from 
			<include refid="table.uum_organ"/>
		order by 
			org_parent, org_id
	</select>
	
	<!-- 根据机构orgId查询所有直接下级机构, 映射到UumOrgan -->
	<select id="findOrgansByUpOrgId" parameterType="long" resultMap="uumOrgan">
		select 
			*
		from 
			<include refid="table.uum_organ"/>
		where
			org_parent = #{id}
	</select>
	
	<!-- 根据机构ID和过滤ID查询直接下级机构 -->
	<select id="findOrgansByUpOrgIdAFilter" parameterType="map" resultMap="uumOrgan">
		select 
			*
		from 
			<include refid="table.uum_organ"/>
		where
			org_parent = #{orgId}
		and
			org_id not in (0
		<if test="filterOrgId != null">
			, #{filterOrgId}
		</if>
			)
		order by 
			org_parent, org_id
	</select>
	
	<!-- 分页查询和数量统计条件声明 -->
	<sql id="whereStatement">
		<where>
			<if test="orgCode != null and orgCode != ''">
				org_code like #{orgCode}
			</if>
			<if test="simpleName != null and simpleName != ''">
				and org_simple_name like #{simpleName}
			</if>
			<if test="orgIds != null"> and org_id in
				<foreach collection="orgIds" item="orgId" open="(" separator="," close=")">
					#{orgId}
				</foreach>
			</if>
		</where>
	</sql>
	
	<!-- 根据条件分页查询机构 -->
	<select id="findOrgansByCon" parameterType="map" resultMap="uumOrgan">
		select 
			*
		from 
			<include refid="table.uum_organ"/>
			<include refid="whereStatement"/>
		order by 
			org_id desc
		<if test="start > -1 and limit > 0">
			limit #{limit} offset #{start}
		</if>
	</select>
	
	<!-- 根据条件计算机构总数 -->
	<select id="countOrgansByCon" parameterType="map" resultType="int">
		select 
			count(*)
		from 
			<include refid="table.uum_organ"/>
			<include refid="whereStatement"/>
	</select>
	
	<!-- 根据机构IDs查询机构记录 -->
	<select id="findOrgansByOrgIds" resultType="map">
		select 
			org_id as "orgId", 
			org_simple_name as "orgSimpleName"
		from 
			<include refid="table.uum_organ"/>
		where 
			org_id in
			<foreach collection="array" item="orgId" open="(" separator="," close=")">
				#{orgId}
			</foreach>
	</select>
	
</mapper> 
