<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: SysplAfficheMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:27:13 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.platform.SysplAfficheMapper">
	<!-- 系统公告 -->
	<resultMap id="sysplAffiche" type="com.mycuckoo.domain.platform.SysplAffiche">
		<id property="afficheId" column="affiche_id" />
		<result property="afficheTitle" column="affiche_title" />
		<result property="afficheInvalidate" column="affiche_invalidate" />
		<result property="affichePulish" column="affiche_pulish" />
		<result property="afficheContent" column="affiche_content" />
	</resultMap>
	
	<sql id="colums">
		affiche_id, affiche_title, affiche_invalidate, affiche_pulish, affiche_content
	</sql>

	<!-- 插入公告： 1.由数据库生成id并赋值到SysplAffiche对象 -->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.SysplAffiche">
		<selectKey keyProperty="afficheId" resultType="long" order="BEFORE">
			<include refid="table.SYSPL_AFFICHE_SEQ"/>
		</selectKey>
		insert into <include refid="table.syspl_affiche"/>
		(
			affiche_id, affiche_title, affiche_invalidate, affiche_pulish, affiche_content
		)
		values (
			#{afficheId}, #{afficheTitle}, #{afficheInvalidate}, #{affichePulish}, #{afficheContent}
		)
	</insert>
	
	<!-- 更新公告： 1.输入对象参数  -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.SysplAffiche">
		update 
			<include refid="table.syspl_affiche"/>
		set
			affiche_title							= #{afficheTitle},
			affiche_invalidate				= #{afficheInvalidate}, 
			affiche_pulish						= #{affichePulish}, 
			affiche_content						= #{afficheContent}
		where 
			affiche_id = #{afficheId}
	</update>
	
	<!-- 删除公告 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.syspl_affiche"/> where affiche_id = #{id}
	</delete>
	
	<!-- 删除一组公告 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.syspl_affiche"/> 
		where 
			affiche_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有公告 -->
	<delete id="deleteAll">
		delete from <include refid="table.syspl_affiche"/>
	</delete>
	
	<!-- 判断公告是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.syspl_affiche"/>
		where 
			affiche_id = #{id}
	</select>
	
	<!-- 统计公告记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.syspl_affiche"/>
	</select>
	
	<!--
		获取公告: 输出直接映射到对象, affiche_id 列要 as afficheId 以方便映射创建 SysplAffiche 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.platform.SysplAffiche">
		select 
			affiche_id							as afficheId,
			affiche_title						as afficheTitle, 
			affiche_invalidate			as afficheInvalidate, 
			affiche_pulish					as affichePulish, 
			affiche_content					as afficheContent
		from 
			<include refid="table.syspl_affiche"/>
		where 
			affiche_id = #{id}
	</select>

	<!-- 返回所有公告, 映射到 SysplAffiche-->
	<select id="findAll" resultMap="sysplAffiche">
		select 
			*
		from 
			<include refid="table.syspl_affiche"/>
	</select>
	
	<!-- 根据条件分页查询公告 -->
	<select id="findAffichesByCon" parameterType="map" resultMap="sysplAffiche">
		select 
			*
		from 
			<include refid="table.syspl_affiche"/>
		<where>
			<if test="afficheTitle != null">
				affiche_title like #{afficheTitle}
			</if>
			<if test="affichePulish != null">
				and affiche_pulish = #{affichePulish}
			</if>
		</where>
		order by 
			affiche_id desc
		<if test="start > -1 and limit > 0">
			limit #{limit} offset #{start}
		</if>
	</select>
	
	<!-- 根据条件统计公告记录数 -->
	<select id="countAffichesByCon" parameterType="map" resultType="int">
		select 
			count(*)
		from 
			<include refid="table.syspl_affiche"/>
		<where>
			<if test="afficheTitle != null">
				affiche_title like #{afficheTitle}
			</if>
			<if test="affichePulish != null">
				and affiche_pulish = #{affichPulish}
			</if>
		</where>
	</select>
	
	<!-- 查询有效期内的公告记录 -->
	<select id="findAffichesBeforeValidate" parameterType="date" resultMap="sysplAffiche">
		select 
			*
		from 
			<include refid="table.syspl_affiche"/>
		where 
			affiche_pulish = 0
		and 
			affiche_invalidate >= #{afficheInvalidate}
	</select>
</mapper> 
