<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: SysplModOptRefMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:38:25 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.platform.SysplModOptRefMapper">
	<resultMap id="sysplModOptRef" type="com.mycuckoo.domain.platform.SysplModOptRef">
		<id property="modOptId" column="mod_opt_id" />
		<association property="sysplOperate"
			javaType="com.mycuckoo.domain.platform.SysplOperate"
			resultMap="com.mycuckoo.persistence.platform.SysplOperateMapper.sysplOperate"
			columnPrefix="opt_"/>
		<association property="sysplModuleMemu"
			javaType="com.mycuckoo.domain.platform.SysplModuleMemu"
			resultMap="com.mycuckoo.persistence.platform.SysplModuleMemuMapper.sysplModuleMemu"
			columnPrefix="modu_"/>
	</resultMap>
	
	<sql id="colums">
		mod_opt_id, operate_id, module_id
	</sql>

	<!-- 插入模块操作关系： 1.由数据库生成id并赋值到SysplModOptRef对象 2.嵌套属性输入#{sysplOperate.operateId}-->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.SysplModOptRef">
		<selectKey keyProperty="modOptId" resultType="long" order="BEFORE">
			<include refid="table.SYSPL_MOD_OPT_REF_SEQ"/>
		</selectKey>
		insert into <include refid="table.syspl_mod_opt_ref"/>
		(
			mod_opt_id, operate_id, module_id
		)
		values (
			#{modOptId}, #{sysplOperate.operateId}, #{sysplModuleMemu.moduleId}
		)
	</insert>
	
	<!-- 更新模块操作关系： 1.输入对象参数 2.嵌套属性输入#{sysplOperate.operateId} -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.SysplModOptRef">
		update 
			<include refid="table.syspl_mod_opt_ref"/>
		set
			operate_id				= #{sysplOperate.operateId},
			module_id					= #{sysplModuleMemu.moduleId}
		where 
			mod_opt_id = #{modOptId}
	</update>
	
	<!-- 删除模块操作关系 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.syspl_mod_opt_ref"/> where mod_opt_id = #{id}
	</delete>
	
	<!-- 删除一组模块操作关系 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.syspl_mod_opt_ref"/> 
		where 
			mod_opt_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有模块操作关系 -->
	<delete id="deleteAll">
		delete from <include refid="table.syspl_mod_opt_ref"/>
	</delete>
	
	<!-- 判断模块操作关系是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.syspl_mod_opt_ref"/>
		where 
			mod_opt_id = #{id}
	</select>
	
	<!-- 统计模块操作关系记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.syspl_mod_opt_ref"/>
	</select>
	
	<!--
		获取模块操作关系: 输出直接映射到 sysplModOptRef
	-->
	<select id="get" parameterType="long" resultMap="sysplModOptRef">
		select 
			t1.mod_opt_id					as mod_opt_id,
			t1.operate_id					as opt_operate_id,
			t1.module_id					as modu_module_id,
			t2.operate_name				as opt_operate_name, 
			t2.opt_img_link				as opt_opt_img_link, 
			t2.opt_order					as opt_opt_order, 
			t2.opt_group					as opt_opt_group, 
			t2.status							as opt_status, 
			t2.opt_fun_link				as opt_opt_fun_link,
			t3.mod_parent_id			as modu_mod_parent_id,
			t3.mod_name						as modu_mod_name, 
			t3.mod_en_id					as modu_mod_en_id, 
			t3.mod_img_cls				as modu_mod_img_cls, 
			t3.mod_level					as modu_mod_level, 
			t3.mod_order					as modu_mod_order, 
			t3.belong_to_sys			as modu_belong_to_sys, 
			t3.mod_page_type			as modu_mod_page_type,
			t3.status							as modu_status
		from 
			<include refid="table.syspl_mod_opt_ref"/> t1
		left join 
			<include refid="table.syspl_operate"/>t2 on t1.operate_id = t2.operate_id
		left join 
			<include refid="table.syspl_module_memu"/> t3 on t1.module_id = t3.module_id
		where 
			mod_opt_id = #{id}
	</select>

	<!-- 返回所有模块操作关系, 映射到 sysplModOptRef-->
	<select id="findAll" resultMap="sysplModOptRef">
		select 
			t1.mod_opt_id					as mod_opt_id,
			t1.operate_id					as opt_operate_id,
			t1.module_id					as modu_module_id,
			t2.operate_name				as opt_operate_name, 
			t2.opt_img_link				as opt_opt_img_link, 
			t2.opt_order					as opt_opt_order, 
			t2.opt_group					as opt_opt_group, 
			t2.status							as opt_status, 
			t2.opt_fun_link				as opt_opt_fun_link,
			t3.mod_parent_id			as modu_mod_parent_id,
			t3.mod_name						as modu_mod_name, 
			t3.mod_en_id					as modu_mod_en_id, 
			t3.mod_img_cls				as modu_mod_img_cls, 
			t3.mod_level					as modu_mod_level, 
			t3.mod_order					as modu_mod_order, 
			t3.belong_to_sys			as modu_belong_to_sys, 
			t3.mod_page_type			as modu_mod_page_type,
			t3.status							as modu_status
		from 
			<include refid="table.syspl_mod_opt_ref"/> t1
		left join 
			<include refid="table.syspl_operate"/>t2 on t1.operate_id = t2.operate_id
		left join 
			<include refid="table.syspl_module_memu"/> t3 on t1.module_id = t3.module_id
	</select>
	
	<!-- 根据操作ID查询模块操作关系, 映射到 sysplModOptRef-->
	<select id="findModOptRefsByOperateId" parameterType="long" resultMap="sysplModOptRef">
		select 
			mod_opt_id					as mod_opt_id,
			operate_id					as opt_operate_id,
			module_id						as modu_module_id
		from 
			<include refid="table.syspl_mod_opt_ref"/>
		where 
			operate_id = #{id}
	</select>
	
	<!-- 根据模块ID查询模块操作关系, 映射到 sysplModOptRef-->
	<select id="findModOptRefsByModuleId" parameterType="long" resultMap="sysplModOptRef">
		select 
			mod_opt_id					as mod_opt_id,
			operate_id					as opt_operate_id,
			module_id						as modu_module_id
		from 
			<include refid="table.syspl_mod_opt_ref"/>
		where 
			module_id = #{id}
	</select>
	
	<!-- 根据模块关系表ID查询模块操作关系, 映射到 sysplModOptRef-->
	<select id="findModOptRefsByIds" parameterType="map" resultMap="sysplModOptRef">
		select 
			t1.mod_opt_id						as mod_opt_id,
			t1.operate_id						as opt_operate_id,
			t1.module_id						as modu_module_id,
			t2.operate_name					as opt_operate_name, 
			t2.opt_img_link					as opt_opt_img_link, 
			t2.opt_order						as opt_opt_order, 
			t2.opt_group						as opt_opt_group, 
			t2.status								as opt_status, 
			t2.opt_fun_link					as opt_opt_fun_link,
			t3.mod_parent_id				as modu_mod_parent_id,
			t3.mod_name							as modu_mod_name, 
			t3.mod_en_id						as modu_mod_en_id, 
			t3.mod_img_cls					as modu_mod_img_cls, 
			t3.mod_level						as modu_mod_level, 
			t3.mod_order						as modu_mod_order, 
			t3.belong_to_sys				as modu_belong_to_sys, 
			t3.mod_page_type				as modu_mod_page_type,
			t3.status								as modu_status
		from 
			<include refid="table.syspl_mod_opt_ref"/> t1
		left join 
			<include refid="table.syspl_operate"/>t2 on t1.operate_id = t2.operate_id
		left join 
			<include refid="table.syspl_module_memu"/> t3 on t1.module_id = t3.module_id
		where 
			t1.mod_opt_id in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
	
	<!-- 根据模块ID删除模块操作关系,级联删除权限 1 -->
	<delete id="deleteModOptRefByModuleId" parameterType="long">
		delete from 
			<include refid="table.syspl_mod_opt_ref"/>
		where 
			module_id = #{id}
	</delete>
	
	<!-- 根据操作ID删除模块操作关系,级联删除权限 2 -->
	<delete id="deleteModOptRefByOperateId" parameterType="long">
		delete from 
			<include refid="table.syspl_mod_opt_ref"/>
		where 
			operate_id = #{id}
	</delete>
	
</mapper> 
