<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: SysplSysOptLogMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:56:13 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.platform.SysplSysOptLogMapper">
	<resultMap id="sysplSysOptLog" type="com.mycuckoo.domain.platform.SysplSysOptLog">
		<id property="optId" column="opt_id" />
		<result property="optModName" column="opt_mod_name" />
		<result property="optName" column="opt_name" />
		<result property="optContent" column="opt_content" />
		<result property="optBusinessId" column="opt_business_id" />
		<result property="optTime" column="opt_time" />
		<result property="optPcName" column="opt_pc_name" />
		<result property="optPcIp" column="opt_pc_ip" />
		<result property="optUserName" column="opt_user_name" />
		<result property="optUserRole" column="opt_user_role" />
		<result property="optUserOgan" column="opt_user_ogan" />
	</resultMap>
	
	<sql id="colums">
		opt_id, opt_mod_name, opt_name, opt_content, opt_business_id, 
		opt_time, opt_pc_name, opt_pc_ip, opt_user_name, opt_user_role, opt_user_ogan
	</sql>

	<!-- 插入系统操作日志： 1.由数据库生成id并赋值到SysplSysOptLog对象 -->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.SysplSysOptLog">
		<selectKey keyProperty="optId" resultType="long" order="BEFORE">
			<include refid="table.SYSPL_SYS_OPT_LOG_SEQ"/>
		</selectKey>
		insert into <include refid="table.syspl_sys_opt_log"/>
		(
			opt_id, opt_mod_name, opt_name, opt_content, opt_business_id, 
			opt_time, opt_pc_name, opt_pc_ip, opt_user_name, opt_user_role, opt_user_ogan
		)
		values (
			#{optId}, #{optModName}, #{optName}, #{optContent}, #{optBusinessId}, 
			#{optTime}, #{optPcName}, #{optPcIp}, #{optUserName}, #{optUserRole}, #{optUserOgan}
		)
	</insert>
	
	<!-- 更新系统操作日志： 1.输入对象参数 -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.SysplSysOptLog">
		update 
			<include refid="table.syspl_sys_opt_log"/>
		set
			opt_mod_name				= #{optModName},
			opt_name						= #{optName}, 
			opt_content					= #{optContent}, 
			opt_business_id			= #{optBusinessId}, 
			opt_time						= #{optTime}, 
			opt_pc_name					= #{optPcName},
			opt_pc_ip						= #{optPcIp}, 
			opt_user_name				= #{optUserName}, 
			opt_user_role				= #{optUserRole}, 
			opt_user_ogan				= #{optUserOgan}
		where 
			opt_id = #{optId}
	</update>
	
	<!-- 删除系统操作日志 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.syspl_sys_opt_log"/> where opt_id = #{id}
	</delete>
	
	<!-- 删除一组系统操作日志 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.syspl_sys_opt_log"/> 
		where 
			opt_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有系统操作日志 -->
	<delete id="deleteAll">
		delete from <include refid="table.syspl_sys_opt_log"/>
	</delete>
	
	<!-- 判断系统操作日志是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.syspl_sys_opt_log"/>
		where 
			opt_id = #{id}
	</select>
	
	<!-- 统计系统操作日志记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.syspl_sys_opt_log"/>
	</select>
	
	<!--
		获取系统操作日志: 输出直接映射到对象, opt_id 列要 as optId 以方便映射创建 SysplSysOptLog 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.platform.SysplSysOptLog">
		select 
			opt_id							as optId, 
			opt_mod_name				as optModName,
			opt_name						as optName, 
			opt_content					as optContent, 
			opt_business_id			as optBusinessId,
			opt_time						as optTime, 
			opt_pc_name					as optPcName, 
			opt_pc_ip						as optPcIp, 
			opt_user_name				as optUserName, 
			opt_user_role				as optUserRole,
			opt_user_ogan				as optUserOgan
		from 
			<include refid="table.syspl_sys_opt_log"/>
		where 
			opt_id = #{id}
	</select>

	<!-- 返回所有系统操作日志, 映射到 sysplSysOptLog -->
	<select id="findAll" resultMap="sysplSysOptLog">
		select 
			*
		from 
			<include refid="table.syspl_sys_opt_log"/>
	</select>
	
	<!-- 删除日志 -->
	<delete id="deleteLogger" parameterType="date">
		delete from 
			<include refid="table.syspl_sys_opt_log"/>
		where
			opt_time &lt;= #{optTime}
	</delete>
	
	<!-- 分页查找系统操作日志, 映射到 sysplSysOptLog -->
	<select id="findOptLogsByCon" parameterType="map" resultMap="sysplSysOptLog">
		select 
			*
		from 
			<include refid="table.syspl_sys_opt_log"/>
		<where>
			<if test="optModName != null">
				opt_mod_name like #{optModName}
			</if>
			<if test="optName != null">
				and opt_name like #{optName}
			</if>
			<if test="optUserName != null">
				and opt_user_name like #{optUserName}
			</if>
			<if test="optUserRole != null">
				and opt_user_role like #{optUserRole}
			</if>
			<if test="optPcIp != null">
				and opt_pc_ip like #{optPcIp}
			</if>
			<if test="optBusinessId != null">
				and opt_business_id = #{optBusinessId}
			</if>
			<if test="startTime != null and endTime != null">
				and opt_time between #{startTime} and #{endTime}
			</if>
		</where>
		order by 
			opt_id desc
		<if test="start > -1 and limit > 0">
			limit #{limit} offset #{start}
		</if>
	</select>
	
	<!-- 统计系统操作日志数 -->
	<select id="countOptLogsByCon" parameterType="map" resultType="int">
		select 
			count(*)
		from 
			<include refid="table.syspl_sys_opt_log"/>
		<where>
			<if test="optModName != null">
				opt_mod_name like #{optModName}
			</if>
			<if test="optName != null">
				and opt_name like #{optName}
			</if>
			<if test="optUserName != null">
				and opt_user_name like #{optUserName}
			</if>
			<if test="optUserRole != null">
				and opt_user_role like #{optUserRole}
			</if>
			<if test="optPcIp != null">
				and opt_pc_ip like #{optPcIp}
			</if>
			<if test="optBusinessId != null">
				and opt_business_id = #{optBusinessId}
			</if>
			<if test="startTime != null and endTime != null">
				and opt_time between #{startTime} and #{endTime}
			</if>
		</where>
	</select>
	
	<!-- 根据日志ID获取系统操作日志内容 -->
	<select id="getOptLogContentById" parameterType="long" resultType="string">
		select 
			opt_content
		from 
			<include refid="table.syspl_sys_opt_log"/>
		where
			opt_id = #{id}
	</select>
	
</mapper> 
