<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: SysplAccessoryMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:20:23 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.platform.SysplAccessoryMapper">
	<resultMap id="sysplAccessory" type="com.mycuckoo.domain.platform.SysplAccessory">
		<id property="accessoryId" column="accessory_id" />
		<result  property="infoId" column="info_id"  />
		<result property="accessoryName" column="accessory_name" />
	</resultMap>
	
	<sql id="colums">
		accessory_id, info_id, accessory_name
	</sql>

	<!-- 插入附件： 1.由数据库生成id并赋值到SysplAccessory对象 -->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.SysplAccessory">
		<selectKey keyProperty="accessoryId" resultType="long" order="BEFORE">
			<include refid="table.SYSPL_ACCESSORY_SEQ"/>
		</selectKey>
		insert into <include refid="table.syspl_accessory"/>
		(
			accessory_id, info_id, accessory_name
		)
		values (
			#{accessoryId}, #{infoId}, #{accessoryName}
		)
	</insert>
	
	<!-- 更新附件： 1.输入用对象  -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.SysplAccessory">
		update 
			<include refid="table.syspl_accessory"/>
		set
			info_id							= #{infoId},
			accessory_name			= #{accessoryName}
		where 
			accessory_id = #{accessoryId}
	</update>
	
	<!-- 删除附件 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.syspl_accessory"/> where accessory_id = #{id}
	</delete>
	
	<!-- 删除一组附件 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.syspl_accessory"/> 
		where 
			accessory_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有附件 -->
	<delete id="deleteAll">
		delete from <include refid="table.syspl_accessory"/>
	</delete>
	
	<!-- 判断附件是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.syspl_accessory"/>
		where 
			accessory_id = #{id}
	</select>
	
	<!-- 统计附件记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.syspl_accessory"/>
	</select>
	
	<!--
		获取附件: 输出直接映射到对象, accessory_id 列要 as accessoryId 以方便映射创建 SysplAccessory 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.platform.SysplAccessory">
		select 
			accessory_id				as accessoryId,
			info_id							as infoId, 
			accessory_name			as accessoryName
		from 
			<include refid="table.syspl_accessory"/>
		where 
			accessory_id = #{id}
	</select>

	<!-- 返回所有附件, 映射到 sysplAccessory-->
	<select id="findAll" resultMap="sysplAccessory">
		select 
			*
		from 
			<include refid="table.syspl_accessory"/>
	</select>
	
	<!-- 根据公告afficheId查询附件, 映射到 sysplAccessory-->
	<select id="findAccessorysByAfficheId" parameterType="long" resultMap="sysplAccessory">
		select 
			*
		from 
			<include refid="table.syspl_accessory"/>
		where 
			info_id = #{id}
	</select>
</mapper> 
