<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: SysplSysParameterMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:58:08 AM
	@version 2.0.0
 -->
<mapper namespace="com.mycuckoo.persistence.platform.SysplSysParameterMapper">
	<resultMap id="sysplSysParameter" type="com.mycuckoo.domain.platform.SysplSysParameter">
		<id property="paraId" column="para_id" />
		<result property="paraName" column="para_name" />
		<result property="paraKeyName" column="para_key_name" />
		<result property="paraValue" column="para_value" />
		<result property="paraType" column="para_type" />
		<result property="memo" column="memo" />
		<result property="status" column="status" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
	</resultMap>
	
	<sql id="colums">
		para_id, para_name, para_key_name, para_value, para_type, memo, status, creator, create_date
	</sql>

	<!-- 插入系统参数： 1.由数据库生成id并赋值到SysplSysParameter对象 -->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.SysplSysParameter">
		<selectKey keyProperty="paraId" resultType="long" order="BEFORE">
			<include refid="table.SYSPL_SYS_PARAMETER_SEQ"/>
		</selectKey>
		insert into <include refid="table.syspl_sys_parameter"/>
		(
			para_id, para_name, para_key_name, para_value, para_type, memo, status, creator, create_date
		)
		values (
			#{paraId}, #{paraName}, #{paraKeyName}, #{paraValue}, #{paraType}, #{memo}, #{status}, #{creator}, #{createDate}
		)
	</insert>
	
	<!-- 更新系统参数： 1.输入对象参数 -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.SysplSysParameter">
		update 
			<include refid="table.syspl_sys_parameter"/>
		set
			para_name						= #{paraName},
			para_key_name				= #{paraKeyName}, 
			para_value					= #{paraValue}, 
			para_type						= #{paraType}, 
			memo								= #{memo}, 
			status							= #{status},
			creator							= #{creator}, 
			create_date					= #{createDate}
		where 
			para_id = #{paraId}
	</update>
	
	<!-- 删除系统参数 -->
	<delete id="delete" parameterType="long">
		delete from <include refid="table.syspl_sys_parameter"/> where para_id = #{id}
	</delete>
	
	<!-- 删除一组系统参数 -->
	<delete id="deleteSome" parameterType="list">
		delete from 
			<include refid="table.syspl_sys_parameter"/> 
		where 
			para_id in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<!-- 删除所有系统参数 -->
	<delete id="deleteAll">
		delete from <include refid="table.syspl_sys_parameter"/>
	</delete>
	
	<!-- 系统参数是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(*) > 0 
		from 
			<include refid="table.syspl_sys_parameter"/>
		where 
			para_id = #{id}
	</select>
	
	<!-- 统计系统参数记录总数 -->
	<select id="count" resultType="long">
		select
			count(*) 
		from 
			<include refid="table.syspl_sys_parameter"/>
	</select>
	
	<!--
		获取系统参数: 输出直接映射到对象, para_id 列要 as paraId 以方便映射创建 SysplSysParameter 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.platform.SysplSysParameter">
		select 
			para_id							as paraId, 
			para_name						as paraName,
			para_key_name				as paraKeyName, 
			para_value					as paraValue, 
			para_type						as paraType,
			memo								as memo, 
			status							as status, 
			creator							as creator,
			create_date					as createDate
		from 
			<include refid="table.syspl_sys_parameter"/>
		where 
			para_id = #{id}
	</select>

	<!-- 返回所有系统参数, 映射到 sysplSysParameter -->
	<select id="findAll" resultMap="sysplSysParameter">
		select 
			*
		from 
			<include refid="table.syspl_sys_parameter"/>
	</select>
	
	<!-- 根据系统参数名称及键值查询系统参数, 映射到 sysplSysParameter -->
	<select id="findSystemParametersByCon" parameterType="map" resultMap="sysplSysParameter">
		select 
			*
		from 
			<include refid="table.syspl_sys_parameter"/>
		<where>
			<if test="paraName != null">
				para_name like #{paraName}
			</if>
			<if test="paraKeyName != null">
				and para_key_name like #{paraKeyName}
			</if>
		</where>
		order by 
			para_id desc
		<if test="start > -1 and limit > 0">
			limit #{limit} offset #{start}
		</if>
	</select>
	
	<!-- 根据系统参数名称及键值统计系统参数 -->
	<select id="countSystemParametersByCon" parameterType="map" resultType="int">
		select 
			count(*)
		from 
			<include refid="table.syspl_sys_parameter"/>
		<where>
			<if test="paraName != null">
				para_name like #{paraName}
			</if>
			<if test="paraKeyName != null">
				and para_key_name like #{paraKeyName}
			</if>
		</where>
	</select>
	
	<!-- 根据参数名称查找系统参数 -->
	<select id="getSystemParameterByParaName" parameterType="string" resultMap="sysplSysParameter">
		select 
			*
		from 
			<include refid="table.syspl_sys_parameter"/>
		where
			para_name = #{paraName}
	</select>
	
</mapper> 
