<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: PortalMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 10:01:15 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.uum.PortalMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.uum.Portal">
        <id property="portalId" column="portal_id" />
        <result property="portalUserid" column="portal_userid" />
        <result property="portlet1" column="portlet1" />
        <result property="portlet2" column="portlet2" />
        <result property="portlet3" column="portlet3" />
        <result property="portlet4" column="portlet4" />
        <result property="portlet5" column="portlet5" />
        <result property="portlet6" column="portlet6" />
        <result property="portlet7" column="portlet7" />
        <result property="portlet8" column="portlet8" />
        <result property="portlet9" column="portlet9" />
    </resultMap>
    
    <sql id="colums">
        portal_id, portal_userid, portlet1, portlet2, portlet3, 
        portlet4, portlet5, portlet6, portlet7, portlet8, portlet9
    </sql>
    
    <sql id="table">
        cuckoo.portal
    </sql>

    <!-- 插入门户： 1.由数据库生成id并赋值到Portal对象 2.输入用对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.uum.Portal"
            useGeneratedKeys="true" keyProperty="portalId" keyColumn="portal_id">
        insert into <include refid="table" />
        (
            portal_id,
            portal_userid,
            portlet1,
            portlet2,
            portlet3,
            portlet4,
            portlet5,
            portlet6,
            portlet7,
            portlet8,
            portlet9
        )
        values (
            #{portalId},
            #{portalUserid},
            #{portlet1},
            #{portlet2},
            #{portlet3},
            #{portlet4},
            #{portlet5},
            #{portlet6},
            #{portlet7},
            #{portlet8},
            #{portlet9}
        )
    </insert>
    
    <!-- 更新门户： 1.输入用对象 -->
    <update id="update" parameterType="com.mycuckoo.domain.uum.Portal">
        update 
            <include refid="table" />
        <set>
            <if test="portalUserid != null">portal_userid = #{portalUserid}, </if>
            <if test="portlet1 != null">portlet1 = #{portlet1}, </if>
            <if test="portlet2 != null">portlet2 = #{portlet2}, </if>
            <if test="portlet3 != null">portlet3 = #{portlet3}, </if>
            <if test="portlet4 != null">portlet4 = #{portlet4}, </if>
            <if test="portlet5 != null">portlet5 = #{portlet5}, </if>
            <if test="portlet6 != null">portlet6 = #{portlet6}, </if>
            <if test="portlet7 != null">portlet7 = #{portlet7}, </if>
            <if test="portlet8 != null">portlet8 = #{portlet8}, </if>
            <if test="portlet9 != null">portlet9 = #{portlet9}, </if>
        </set>
        where 
            portal_id = #{portalId}
    </update>
    
    <!-- 删除门户 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where portal_id = #{id}
    </delete>
    
    <!-- 门户是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select
            count(1) > 0 
        from 
            <include refid="table" />
        where 
            portal_id = #{id}
    </select>
    
    <!-- 门户记录总数 -->
    <select id="count" resultType="long">
        select
            count(1) 
        from 
            <include refid="table" />
    </select>
    
    <!--
        获取门户: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select 
            <include refid="colums" />
        from 
            <include refid="table" />
        where 
            portal_id = #{id}
    </select>

    <!-- 查询所有门户, 映射到portal-->
    <select id="findByPage" resultMap="baseMap">
        select 
            <include refid="colums" />
        from 
            <include refid="table" />
    </select>
    
</mapper> 
