<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<mappers>
		<mapper resource="com/mycuckoo/persistence/TableMapper.xml" />
		
		<!-- 系统平台 -->
		<mapper resource="com/mycuckoo/persistence/platform/SysplAccessoryMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplAfficheMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplCodeMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplDicBigTypeMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplDicSmallTypeMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplDistrictMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplModOptRefMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplModuleMemuMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplOperateMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplSchedulerJobMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplSysOptLogMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/platform/SysplSysParameterMapper.xml" />
		
		<!-- 统一用户 -->
		<mapper resource="com/mycuckoo/persistence/uum/PortalMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumOrganMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumOrgRoleRefMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumPrivilegeMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumRoleMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumRoleUserRefMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumUserAgentMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumUserAgentPrivilegeMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumUserCommFunMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/UumUserMapper.xml" />
		
		<!-- 组管理 -->
		<mapper resource="com/mycuckoo/persistence/uum/group/UumGroupMapper.xml" />
		<mapper resource="com/mycuckoo/persistence/uum/group/UumGroupMemberMapper.xml" />
	</mappers>

</configuration>