<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: CodeMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 9:32:33 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.CodeMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.Code">
        <id property="codeId" column="code_id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="moduleName" column="module_name" />
        <result property="delimiter" column="delimiter" />
        <result property="partNum" column="part_num" />
        <result property="part1" column="part1" />
        <result property="part1Con" column="part1_con" />
        <result property="part2" column="part2" />
        <result property="part2Con" column="part2_con" />
        <result property="part3" column="part3" />
        <result property="part3Con" column="part3_con" />
        <result property="part4" column="part4" />
        <result property="part4Con" column="part4_con" />
        <result property="effect" column="effect" />
        <result property="memo" column="memo" />
        <result property="status" column="status" />
        <result property="updater" column="updater" />
        <result property="updateDate" column="update_date" />
        <result property="creator" column="creator" />
        <result property="createDate" column="create_date" />
    </resultMap>
    
    <sql id="columns">
        code_id, code, name, module_name, delimiter, part_num, part1, part1_con, part2,
        part2_con, part3, part3_con, part4, part4_con, effect, memo, status,
        updater, update_date, creator, create_date
    </sql>
    
    <sql id="table">
        cuckoo.sys_code
    </sql>

    <!-- 插入编码： 1.由数据库生成id并赋值到SysplCode对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.Code"
            useGeneratedKeys="true" keyProperty="codeId" keyColumn="code_id">
        insert into <include refid="table" />
        (
            code_id,
            code,
            name,
            module_name,
            delimiter,
            part_num,
            part1,
            part1_con,
            part2,
            part2_con,
            part3,
            part3_con,
            part4,
            part4_con,
            effect,
            memo,
            status,
            updater,
            update_date,
            creator,
            create_date
        )
        values (
            #{codeId},
            #{code},
            #{name},
            #{moduleName},
            #{delimiter},
            #{partNum},
            #{part1},
            #{part1Con},
            #{part2},
            #{part2Con},
            #{part3},
            #{part3Con},
            #{part4},
            #{part4Con},
            #{effect},
            #{memo},
            #{status},
            #{updater},
            #{updateDate},
            #{creator},
            #{createDate}
        )
    </insert>
    
    <!-- 更新编码： 1.输入对象参数  -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.Code">
        update <include refid="table" />
        <set>
            <if test="code != null">code = #{code}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="moduleName != null">module_name = #{moduleName}, </if>
            <if test="delimiter != null">delimiter = #{delimiter}, </if>
            <if test="partNum != null">part_num = #{partNum}, </if>
            <if test="part1 != null">part1 = #{part1}, </if>
            <if test="part1Con != null">part1_con = #{part1Con}, </if>
            <if test="part2 != null">part2 = #{part2}, </if>
            <if test="part2Con != null">part2_con = #{part2Con}, </if>
            <if test="part3 != null">part3 = #{part3}, </if>
            <if test="part3Con != null">part3_con = #{part3Con}, </if>
            <if test="part4 != null">part4 = #{part4}, </if>
            <if test="part4Con != null">part4_con = #{part4Con}, </if>
            <if test="effect != null">effect = #{effect}, </if>
            <if test="memo != null">memo = #{memo}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="updater != null">updater = #{updater}, </if>
            <if test="updateDate != null">update_date = #{updateDate}, </if>
        </set>
        where code_id = #{codeId}
    </update>
    
    <!-- 删除编码 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where code_id = #{id}
    </delete>
    
    <!--
        获取编码: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where code_id = #{id}
    </select>
    
    <!-- 判断编码是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select
            count(1) > 0 
        from <include refid="table" />
        where code_id = #{id}
    </select>
    
    <!-- 根据条件查询编码 Code-->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="code != null">
                and code like #{code}
            </if>
            <if test="name != null">
                and name like #{name}
            </if>
            <if test="moduleName != null">
                and module_name like #{moduleName}
            </if>
        </where>
        order by code_id desc
    </select>
    
        <!-- 统计编码记录总数 -->
    <select id="count" resultType="long">
        select count(1)
        from <include refid="table" />
    </select>
    
        <!-- 判断编码是否存在 -->
    <select id="countByCode" parameterType="string" resultType="int">
        select count(1)
        from <include refid="table" />
        where code = #{code}
    </select>
    
    <!-- 根据编码获取编码 -->
    <select id="getByCode" parameterType="string" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where code = #{code}
    </select>
</mapper> 
