<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	说明: ModuleMemuMapper映射文件
	
	@author rutine
	@time Sep 23, 2014 9:48:44 AM
	@version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.ModuleMemuMapper">
	<resultMap id="baseMap" type="com.mycuckoo.domain.platform.ModuleMemu">
		<id property="moduleId" column="module_id" />
		<result property="moduleMemu.moduleId" column="mod_parent_id" />
		<result property="modName" column="mod_name" />
		<result property="modEnId" column="mod_en_id" />
		<result property="modImgCls" column="mod_img_cls" />
		<result property="modLevel" column="mod_level" />
		<result property="modOrder" column="mod_order" />
		<result property="belongToSys" column="belong_to_sys" />
		<result property="modPageType" column="mod_page_type" />
		<result property="status" column="status" />
		<result property="memo" column="memo" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
	</resultMap>
	
	<sql id="colums">
		module_id, mod_parent_id, mod_name, mod_en_id, mod_img_cls, mod_level, 
		mod_order, belong_to_sys, mod_page_type, memo, status, creator, create_date
	</sql>

	<!-- 插入模块菜单： 1.由数据库生成id并赋值到 ModuleMemu对象 2.嵌套属性输入#{moduleMemu.moduleId} -->
	<insert id="save" parameterType="com.mycuckoo.domain.platform.ModuleMemu">
		<selectKey keyProperty="moduleId" resultType="long" order="BEFORE">
			select nextval('cuckoo.syspl_module_memu_seq')
		</selectKey>
		insert into cuckoo.syspl_module_memu
		(
			module_id, mod_parent_id, mod_name, mod_en_id, mod_img_cls, mod_level, 
			mod_order, belong_to_sys, mod_page_type, memo, status, creator, create_date
		)
		values (
			#{moduleId}, #{moduleMemu.moduleId}, #{modName}, #{modEnId}, #{modImgCls}, #{modLevel}, 
			#{modOrder}, #{belongToSys}, #{modPageType}, #{memo}, #{status}, #{creator}, #{createDate}
		)
	</insert>
	
	<!-- 更新模块菜单： 1.输入对象参数 2.嵌套属性输入#{moduleMemu.moduleId} -->
	<update id="update" parameterType="com.mycuckoo.domain.platform.ModuleMemu">
		update 
			cuckoo.syspl_module_memu
		set
			mod_parent_id				= #{moduleMemu.moduleId},
			mod_name						= #{modName}, 
			mod_en_id						= #{modEnId}, 
			mod_img_cls					= #{modImgCls}, 
			mod_level						= #{modLevel}, 
			mod_order						= #{modOrder}, 
			belong_to_sys				= #{belongToSys}, 
			mod_page_type				= #{modPageType}, 
			memo								= #{memo}, 
			status							= #{status}, 
			creator							= #{creator}, 
			create_date					= #{createDate}
		where 
			module_id = #{moduleId}
	</update>
	
	<!-- 删除模块菜单 -->
	<delete id="delete" parameterType="long">
		delete from cuckoo.syspl_module_memu where module_id = #{id}
	</delete>
	
		<!--
		获取模块菜单: 输出直接映射到对象, module_id 列要 as moduleId 以方便映射创建 ModuleMemu 对象并赋值
	-->
	<select id="get" parameterType="long" resultType="com.mycuckoo.domain.platform.ModuleMemu">
		select 
			module_id						as moduleId,
			mod_parent_id				as "moduleMemu.moduleId", 
			mod_name						as modName, 
			mod_en_id						as modEnId, 
			mod_img_cls					as modImgCls, 
			mod_level						as modLevel, 
			mod_order						as modOrder, 
			belong_to_sys				as belongToSys, 
			mod_page_type				as modPageType, 
			memo								as memo, 
			status							as status, 
			creator							as creator, 
			create_date					as createDate
		from 
			cuckoo.syspl_module_memu
		where 
			module_id = #{id}
	</select>
	
	<!-- 判断模块菜单是否存在 -->
	<select id="exists" parameterType="long" resultType="boolean">
		select
			count(1) > 0 
		from 
			cuckoo.syspl_module_memu
		where 
			module_id = #{id}
	</select>

	<!-- 根据条件查询模块 -->
	<select id="findByPage" parameterType="map" resultMap ="baseMap">
		select 
			*
		from 
			cuckoo.syspl_module_memu
		where 
			module_id != 0
		<if test="modName != null">
			and mod_name like #{modName}
		</if>
		<if test="modEnId != null">
			and mod_en_id like #{modEnId}
		</if>
		<if test="array != null">
			and module_id in
			<foreach item="id" collection="array" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		order by 
			module_id desc
	</select>
	
	<!-- 统计模块菜单记录总数 -->
	<select id="count" resultType="long">
		select
			count(1) 
		from 
			cuckoo.syspl_module_memu
	</select>
	
	<!-- 根据父级模块ID统计下级模块数 -->
	<select id="countByUpModuleId" parameterType="long" resultType="int">
		select 
			count(1)
		from 
			cuckoo.syspl_module_memu
		where 
			mod_parent_id = #{parentId}
	</select>
	
	<!-- 判断模块名称是否存在 -->
	<select id="countByModuleName" parameterType="string" resultType="int">
		select 
			count(1)
		from 
			cuckoo.syspl_module_memu
		where 
			mod_name = #{modName}
	</select>
	
	<!-- 根据父模块ID查询下级模块 -->
	<select id="findByUpModuleIdAndFilterModuleIds" parameterType="map" resultMap ="baseMap">
		select 
			*
		from 
			cuckoo.syspl_module_memu
		where 
			mod_parent_id = #{moduleId}
		and 
			module_id not in
			<foreach item="id" collection="filterModuleIds" open="(" separator="," close=")">
				#{id}
			</foreach>
	</select>
	
	<!-- 修改模块记录 -->
	<update id="updateRowPrivilege">
		update 
			cuckoo.syspl_module_memu
		set 
			privilege_level = #{privilegeLevel}
		where 
			module_id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
</mapper> 
