<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: SysOptLogMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 9:56:13 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.SysOptLogMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.SysOptLog">
        <id property="optId" column="opt_id" />
        <result property="modName" column="mod_name" />
        <result property="name" column="name" />
        <result property="content" column="content" />
        <result property="busiType" column="busi_type" />
        <result property="busiId" column="busi_id" />
        <result property="host" column="host" />
        <result property="ip" column="ip" />
        <result property="userName" column="user_name" />
        <result property="userRole" column="user_role" />
        <result property="userOrgan" column="user_organ" />
        <result property="creator" column="creator" />
        <result property="createDate" column="create_date" />
    </resultMap>
    
    <sql id="columns">
        opt_id, mod_name, name, content, busi_type, busi_id,
        host, ip, user_name, user_role, user_organ,
        creator, create_date
    </sql>
    
    <sql id="table">
        cuckoo.sys_opt_log
    </sql>

    <!-- 插入系统操作日志： 1.由数据库生成id并赋值到SysOptLog对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.SysOptLog"
            useGeneratedKeys="true" keyProperty="optId" keyColumn="opt_id">
        insert into <include refid="table" />
        (
            opt_id,
            mod_name,
            name,
            content,
            busi_type,
            busi_id,
            host,
            ip,
            user_name,
            user_role,
            user_organ,
            creator,
            create_date
        )
        values (
            #{optId},
            #{modName},
            #{name},
            #{content},
            #{busiType},
            #{busiId},
            #{host},
            #{ip},
            #{userName},
            #{userRole},
            #{userOrgan},
            #{creator},
            #{createDate}
        )
    </insert>
    
    <!-- 更新系统操作日志： 1.输入对象参数 -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.SysOptLog">
        update <include refid="table" />
        <set>
            <if test="modName != null">mod_name = #{modName}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="content != null">content = #{content}, </if>
            <if test="busiType != null">busi_type = #{busiType}, </if>
            <if test="busiId != null">busi_id = #{busiId}, </if>
            <if test="host != null">host = #{host}, </if>
            <if test="ip != null">ip = #{ip}, </if>
            <if test="userName != null">user_name = #{userName}, </if>
            <if test="userRole != null">user_role = #{userRole}, </if>
            <if test="userOrgan != null">user_organ = #{userOrgan}, </if>
        </set>
        where opt_id = #{optId}
    </update>
    
    <!-- 删除系统操作日志 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where opt_id = #{id}
    </delete>
    
    <!--
        获取系统操作日志: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where opt_id = #{id}
    </select>
    
    <!-- 判断系统操作日志是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select
            count(1) > 0 
        from <include refid="table" />
        where opt_id = #{id}
    </select>

    <!-- 分页查找系统操作日志, 映射到 baseMap -->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="modName != null">
                mod_name like #{modName}
            </if>
            <if test="optName != null">
                and name like #{name}
            </if>
            <if test="userName != null">
                and user_name like #{userName}
            </if>
        </where>
        order by opt_id desc
    </select>
    
    <!-- 统计系统操作日志记录总数 -->
    <select id="count" resultType="long">
        select count(1)
        from <include refid="table" />
    </select>
    
    <!-- 删除日志 -->
    <delete id="deleteLogger" parameterType="date">
        delete from <include refid="table" />
        where create_date &lt;= #{createDate}
    </delete>
    
    <!-- 根据日志ID获取系统操作日志内容 -->
    <select id="getOptContentById" parameterType="long" resultType="string">
        select content
        from <include refid="table" />
        where opt_id = #{id}
    </select>
    
</mapper> 
