<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: AfficheMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 9:27:13 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.AfficheMapper">
    <!-- 系统公告 -->
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.Affiche">
        <id property="afficheId" column="affiche_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="invalidate" column="invalidate" />
        <result property="publish" column="publish" />
        <result property="creator" column="creator" />
        <result property="createDate" column="create_date" />
    </resultMap>
    
    <sql id="columns">
        affiche_id, title, content, invalidate, publish, creator, create_date
    </sql>
    
    <sql id="table">
        cuckoo.sys_affiche
    </sql>

    <!-- 插入公告： 1.由数据库生成id并赋值到SysplAffiche对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.Affiche"
            useGeneratedKeys="true" keyProperty="afficheId" keyColumn="affiche_id">
        insert into <include refid="table" />
        (
            affiche_id,
            title,
            content,
            invalidate,
            publish,
            creator,
            create_date
        )
        values (
            #{afficheId},
            #{title},
            #{content},
            #{invalidate},
            #{publish},
            #{creator},
            #{createDate}
        )
    </insert>
    
    <!-- 更新公告： 1.输入对象参数  -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.Affiche">
        update <include refid="table" />
        <set>
            <if test="title != null">title = #{title}, </if>
            <if test="content != null">content = #{content}, </if>
            <if test="invalidate != null">invalidate = #{invalidate}, </if>
            <if test="publish != null">publish = #{publish}, </if>
        </set>
        where affiche_id = #{afficheId}
    </update>
    
    <!-- 删除公告 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where affiche_id = #{id}
    </delete>
    
        <!--
        获取公告: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where affiche_id = #{id}
    </select>
    
    <!-- 判断公告是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select count(1) > 0
        from <include refid="table" />
        where affiche_id = #{id}
    </select>

    <!-- 根据条件分页查询公告 -->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="keyword != null">
                and title like concat('%' #{keyword}, '%')
            </if>
            <if test="q.publish != null">
                and publish = #{q.publish}
            </if>
        </where>
        order by affiche_id desc
    </select>
    
    <!-- 查询有效期内的公告记录 -->
    <select id="findBeforeValidate" parameterType="date" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where publish = 0
        and invalidate >= #{invalidate}
    </select>
</mapper> 
