<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycuckoo.repository.platform.DistrictMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.District">
        <id property="id" column="id" />
        <result property="type" column="type" />
        <result property="parentCode" column="parent_code" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <sql id="columns">
        id, type, parent_code, code, name, create_time
    </sql>
    
    <sql id="table">sys_district</sql>

    <insert id="save" parameterType="com.mycuckoo.domain.platform.District"
            useGeneratedKeys="true" keyProperty="districtId" keyColumn="district_id">
        insert into <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id, </if>
            <if test="type != null">`type`, </if>
            <if test="parentCode != null">parent_code, </if>
            <if test="code != null and code != ''">code, </if>
            <if test="name != null and name != ''">name, </if>
            <if test="createTime != null">create_time, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id}, </if>
            <if test="type != null">#{type}, </if>
            <if test="parentCode != null">#{parentCode}, </if>
            <if test="code != null and code != ''">#{code}, </if>
            <if test="name != null and name != ''">#{name}, </if>
            <if test="createTime != null">#{createTime}, </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.mycuckoo.domain.platform.District">
        update <include refid="table" />
        <set>
            <if test="type != null">type = #{type}, </if>
            <if test="parentCode != null">parent_code = #{parentCode}, </if>
            <if test="code != null">code = #{code}, </if>
            <if test="name != null">name = #{name}, </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where id = #{id}
    </delete>

    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where id = #{id}
    </select>

    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="q.array != null and !q.array.isEmpty">
                and code in
                <foreach item="code" collection="q.array" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="q.type != null and q.type != ''">and type = #{q.type}</if>
            <if test="keyword != null">
                and name like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by code
    </select>

    <select id="countByParentCode" parameterType="string" resultType="int">
        select count(1)
        from <include refid="table" />
        where parent_code = #{parentCode}
    </select>

    <select id="countByName" parameterType="string" resultType="int">
        select count(1)
        from <include refid="table" />
        where name = #{name}
    </select>

    <select id="getByCode" parameterType="string" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where code = #{code}
    </select>

    <select id="findByParentCodeAndIgnoreIds" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where parent_code = #{parentCode}
        and id not in
        <foreach item="id" collection="ignoreIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by code
    </select>
</mapper> 
