<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: ModResRefMapper映射文件
    
    @author rutine
    @time May 12, 2024 11:09:21 AM
    @version 4.1.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.ModResRefMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.ModResRef">
        <id property="modResId" column="mod_res_id" />
        <result property="group" column="group" />
        <result property="order" column="order" />
        <result property="moduleId" column="module_id" />
        <association property="resource"
                     javaType="com.mycuckoo.domain.platform.Resource"
                     resultMap="com.mycuckoo.repository.platform.ResourceMapper.baseMap"
                     columnPrefix="res_"/>
    </resultMap>
    
    <sql id="columns">
        mod_res_id, module_id, resource_id, `group`, `order`
    </sql>
    
    <sql id="table">
        sys_mod_res_ref
    </sql>

    <!-- 插入模块操作关系： 1.由数据库生成id并赋值到ModResRef对象 2.嵌套属性输入#{operate.operateId}-->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.ModResRef"
            useGeneratedKeys="true" keyProperty="modResId" keyColumn="mod_res_id">
        insert into <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modResId != null">mod_res_id, </if>
            <if test="moduleId != null">module_id, </if>
            <if test="resource.resourceId != null">resource_id, </if>
            <if test="group != null">`group`, </if>
            <if test="order != null">`order`, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modResId != null">#{modResId}, </if>
            <if test="moduleId != null">#{moduleId}, </if>
            <if test="resource.resourceId != null">#{resource.resourceId}, </if>
            <if test="group != null">#{group}, </if>
            <if test="order != null">#{order}, </if>
        </trim>
    </insert>
    
    <!-- 更新模块操作关系： 1.输入对象参数 2.嵌套属性输入#{operate.operateId} -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.ModResRef">
        update <include refid="table" />
        <set>
            <if test="moduleId != null">module_id = #{moduleId}, </if>
            <if test="group != null">`group` = #{group}, </if>
            <if test="order != null">`order`  = #{order}, </if>
            <if test="resource.resourceId != null">resource_id = #{resource.resourceId}, </if>
        </set>
        where mod_res_id = #{modResId}
    </update>
    
    <!-- 删除模块操作关系 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where mod_res_id = #{id}
    </delete>
    
    <!--
        获取模块操作关系: 输出直接映射到 baseMap
        module_id, operate_id, name, `method`, path
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select 
            t1.mod_res_id         as mod_res_id,
            t1.`group`            as `group`,
            t1.`order`            as `order`,
            t1.module_id          as module_id,
            t1.resource_id        as res_resource_id,
            t2.module_id          as res_module_id,
            t2.operate_id         as res_operate_id,
            t2.identifier         as res_identifier,
            t2.name               as res_name,
            t2.`method`           as res_method,
            t2.path               as res_path,
            t2.status             as res_status
        from <include refid="table" /> t1
        left join sys_resource t2 on t2.resource_id = t1.resource_id
        where mod_res_id = #{id}
    </select>
    
    <!-- 判断模块操作关系是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select count(1) > 0
        from <include refid="table" />
        where mod_res_id = #{id}
    </select>

    <!-- 返回所有模块操作关系, 映射到 baseMap-->
    <select id="findByPage" resultMap="baseMap">
        select
            t1.mod_res_id         as mod_res_id,
            t1.`group`            as `group`,
            t1.`order`            as `order`,
            t1.module_id          as module_id,
            t1.resource_id        as res_resource_id,
            t2.module_id          as res_module_id,
            t2.operate_id         as res_operate_id,
            t2.identifier         as res_identifier,
            t2.name               as res_name,
            t2.`method`           as res_method,
            t2.path               as res_path,
            t2.status             as res_status
        from <include refid="table" /> t1
        left join sys_resource t2 on t2.resource_id = t1.resource_id
    </select>

    <!-- 根据模块ID删除,级联删除权限 1 -->
    <delete id="deleteByModuleId" parameterType="long">
        delete from <include refid="table" />
        where module_id = #{id}
    </delete>
    
    <!-- 根据资源ID删除,级联删除权限 2 -->
    <delete id="deleteByResourceId" parameterType="long">
        delete from <include refid="table" />
        where resource_id = #{id}
    </delete>
    
    <!-- 根据资源ID查询, 映射到 baseMap-->
    <select id="findByResourceId" parameterType="long" resultMap="baseMap">
        select
            mod_res_id    as mod_res_id,
            module_id     as module_id,
            resource_id    as res_resource_id,
            `group`,
            `order`
        from <include refid="table" />
        where resource_id = #{id}
    </select>
    
    <!-- 根据模块ID查询, 映射到 baseMap-->
    <select id="findByModuleId" parameterType="long" resultMap="baseMap">
        select
            mod_res_id    as mod_res_id,
            module_id     as module_id,
            resource_id   as res_resource_id,
            `group`,
            `order`
        from <include refid="table" />
        where module_id = #{id}
    </select>
    
</mapper> 
