<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: OperateMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 9:50:37 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.OperateMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.Operate">
        <id property="operateId" column="operate_id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="iconCls" column="icon_cls" />
        <result property="order" column="order" />
        <result property="group" column="group" />
        <result property="memo" column="memo" />
        <result property="status" column="status" />
        <result property="updator" column="updator" />
        <result property="updateTime" column="update_time" />
        <result property="creator" column="creator" />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <sql id="columns">
        operate_id, code, name, icon_cls, `order`, `group`, memo, status,
        updator, update_time, creator, create_time
    </sql>
    
    <sql id="table">
        cuckoo.sys_operate
    </sql>

    <!-- 插入操作： 1.由数据库生成id并赋值到 SysOperate 对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.Operate"
            useGeneratedKeys="true" keyProperty="operateId" keyColumn="operate_id">
        insert into <include refid="table" />
        (
            operate_id,
            code,
            name,
            icon_cls,
            `order`,
            `group`,
            memo,
            status,
            updator,
            update_time,
            creator,
            create_time
        )
        values (
            #{operateId},
            #{code},
            #{name},
            #{iconCls},
            #{order},
            #{group},
            #{memo},
            #{status},
            #{updator},
            #{updateTime},
            #{creator},
            #{createTime}
        )
    </insert>
    
    <!-- 更新操作： 1.输入对象参数 -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.Operate">
        update <include refid="table" />
        <set>
            <if test="code != null">code = #{code}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="iconCls != null">icon_cls = #{iconCls}, </if>
            <if test="order != null">`order` = #{order}, </if>
            <if test="group != null">`group` = #{group}, </if>
            <if test="memo != null">memo = #{memo}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="updator != null">updator = #{updator}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
        </set>
        where operate_id = #{operateId}
    </update>
    
    <!-- 删除操作 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where operate_id = #{id}
    </delete>
    
    <!--
        获取操作: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where operate_id = #{id}
    </select>
    
    <!-- 判断操作是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select count(1) > 0
        from <include refid="table" />
        where operate_id = #{id}
    </select>

        <!-- 根据条件分页查询模块操作-->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="keyword != null">
                name like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by operate_id desc
    </select>
    
    <!-- 根据操作名统计操作数量-->
    <select id="countByCode" parameterType="string" resultType="int">
        select count(1)
        from <include refid="table" />
        where code = #{code}
    </select>

    <!-- 根据操作名统计操作数量-->
    <select id="countByName" parameterType="string" resultType="int">
        select count(1)
        from <include refid="table" />
        where name = #{name}
    </select>
    
</mapper> 
