<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: ResourceMapper映射文件
    
    @author rutine
    @time May 5, 2024 10:12:15 AM
    @version 4.1.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.ResourceMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.Resource">
        <id property="resourceId" column="resource_id" />
        <result property="moduleId" column="module_id" />
        <result property="operateId" column="operate_id" />
        <result property="name" column="name" />
        <result property="method" column="method" />
        <result property="path" column="path" />
        <result property="order" column="order" />
        <result property="memo" column="memo" />
        <result property="status" column="status" />
        <result property="creator" column="creator" />
        <result property="createDate" column="create_date" />
    </resultMap>
    
    <sql id="columns">
        resource_id, module_id, operate_id, name, `method`, path, `order`, memo, status, creator, create_date
    </sql>
    
    <sql id="table">
        cuckoo.sys_resource
    </sql>

    <!-- 插入操作： 1.由数据库生成id并赋值到 SysResource 对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.Resource"
            useGeneratedKeys="true" keyProperty="operateId" keyColumn="operate_id">
        insert into <include refid="table" />
        (
            resource_id,
            module_id,
            operate_id,
            name,
            `method`,
            `order`,
            path,
            memo,
            status,
            creator,
            create_date
        )
        values (
            #{resourceId},
            #{moduleId},
            #{operateId},
            #{name},
            #{method},
            #{order},
            #{path},
            #{memo},
            #{status},
            #{creator},
            #{createDate}
        )
    </insert>
    
    <!-- 更新操作： 1.输入对象参数 -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.Resource">
        update <include refid="table" />
        <set>
            <if test="moduleId != null">module_id = #{moduleId}, </if>
            <if test="operateId != null">operate_id = #{operateId}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="method != null">`method` = #{method}, </if>
            <if test="path != null">`path` = #{path}, </if>
            <if test="order != null">`order` = #{order}, </if>
            <if test="memo != null">memo = #{memo}, </if>
            <if test="status != null">status = #{status}, </if>
        </set>
        where resource_id = #{resourceId}
    </update>
    
    <!-- 删除操作 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where resource_id = #{resourceId}
    </delete>
    
    <!--
        获取操作: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where resource_id = #{resourceId}
    </select>
    
    <!-- 判断操作是否存在 -->
    <select id="exists" parameterType="long" resultType="boolean">
        select count(1) > 0
        from <include refid="table" />
        where resource_id = #{resourceId}
    </select>

        <!-- 根据条件分页查询-->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="name != null">
                name like #{name}
            </if>
        </where>
        order by operate_id desc
    </select>
    
        <!-- 统计记录总数 -->
    <select id="count" resultType="long">
        select count(1)
        from <include refid="table" />
    </select>
    
</mapper> 
