<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    说明: SysOptLogMapper映射文件
    
    @author rutine
    @time Sep 23, 2014 9:56:13 AM
    @version 3.0.0
 -->
<mapper namespace="com.mycuckoo.repository.platform.SysOptLogMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.platform.SysOptLog">
        <id property="optId" column="opt_id" />
        <result property="orgId" column="org_id" />
        <result property="modName" column="mod_name" />
        <result property="optName" column="opt_name" />
        <result property="content" column="content" />
        <result property="busiType" column="busi_type" />
        <result property="busiId" column="busi_id" />
        <result property="ip" column="ip" />
        <result property="userName" column="user_name" />
        <result property="userRole" column="user_role" />
        <result property="creator" column="creator" />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <sql id="columns">
        opt_id, org_id, mod_name, opt_name, content, busi_type, busi_id,
        ip, user_name, user_role,
        creator, create_time
    </sql>
    
    <sql id="table">
        cuckoo.sys_opt_log
    </sql>

    <!-- 插入系统操作日志： 1.由数据库生成id并赋值到SysOptLog对象 -->
    <insert id="save" parameterType="com.mycuckoo.domain.platform.SysOptLog"
            useGeneratedKeys="true" keyProperty="optId" keyColumn="opt_id">
        insert into <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="optId != null">opt_id, </if>
            <if test="orgId != null">org_id, </if>
            <if test="modName != null and modName != ''">mod_name, </if>
            <if test="optName != null and optName != ''">opt_name, </if>
            <if test="content != null and content != ''">content, </if>
            <if test="busiType != null">busi_type, </if>
            <if test="busiId != null and busiId != ''">busi_id, </if>
            <if test="ip != null and ip != ''">ip, </if>
            <if test="userName != null and userName != ''">user_name, </if>
            <if test="userRole != null and userRole != ''">user_role, </if>
            <if test="creator != null">creator, </if>
            <if test="createTime != null">create_time, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="optId != null">#{optId}, </if>
            <if test="orgId != null">#{orgId}, </if>
            <if test="modName != null and modName != ''">#{modName}, </if>
            <if test="optName != null and optName != ''">#{optName}, </if>
            <if test="content != null and content != ''">#{content}, </if>
            <if test="busiType != null">#{busiType}, </if>
            <if test="busiId != null and busiId != ''">#{busiId}, </if>
            <if test="ip != null and ip != ''">#{ip}, </if>
            <if test="userName != null and userName != ''">#{userName}, </if>
            <if test="userRole != null and userRole != ''">#{userRole}, </if>
            <if test="creator != null">#{creator}, </if>
            <if test="createTime != null">#{createTime}, </if>
        </trim>
    </insert>
    
    <!-- 更新系统操作日志： 1.输入对象参数 -->
    <update id="update" parameterType="com.mycuckoo.domain.platform.SysOptLog">
        update <include refid="table" />
        <set>
            <if test="modName != null">mod_name = #{modName}, </if>
            <if test="optName != null">opt_name = #{optName}, </if>
            <if test="content != null">content = #{content}, </if>
            <if test="busiType != null">busi_type = #{busiType}, </if>
            <if test="busiId != null">busi_id = #{busiId}, </if>
            <if test="ip != null">ip = #{ip}, </if>
            <if test="userName != null">user_name = #{userName}, </if>
            <if test="userRole != null">user_role = #{userRole}, </if>
        </set>
        where opt_id = #{optId}
    </update>
    
    <!-- 删除系统操作日志 -->
    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where opt_id = #{id}
    </delete>
    
    <!--
        获取系统操作日志: 输出直接映射到对象
    -->
    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where opt_id = #{id}
    </select>

    <!-- 分页查找系统操作日志, 映射到 baseMap -->
    <select id="findByPage" parameterType="map" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        <where>
            <if test="q.modName != null">
                mod_name like concat('%', #{q.modName}, '%')
            </if>
            <if test="q.name != null">
                and opt_name like concat('%', #{q.optName}, '%')
            </if>
            <if test="q.userName != null">
                and user_name concat('%', #{q.userName}, '%')
            </if>
        </where>
        order by opt_id desc
    </select>
    
    <!-- 删除日志 -->
    <delete id="deleteLogger" parameterType="date">
        delete from <include refid="table" />
        where create_date &lt;= #{createDate}
    </delete>
    
    <!-- 根据日志ID获取系统操作日志内容 -->
    <select id="getOptContentById" parameterType="long" resultType="string">
        select content
        from <include refid="table" />
        where opt_id = #{id}
    </select>
    
</mapper> 
