<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycuckoo.repository.uum.DepartmentMapper">
    <resultMap id="baseMap" type="com.mycuckoo.domain.uum.DepartmentExtend">
        <id property="deptId" column="dept_id" />
        <result property="orgId" column="org_id" />
        <result property="parentId" column="parent_id" />
        <result property="treeId" column="tree_id" />
        <result property="roleId" column="role_id" />
        <result property="level" column="level" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="status" column="status" />
        <result property="memo" column="memo" />
        <result property="updator" column="updator" />
        <result property="updateTime" column="update_time" />
        <result property="creator" column="creator" />
        <result property="createTime" column="create_time" />

        <result property="parentName" column="parent_name" />
        <result property="roleName" column="role_name" />
    </resultMap>
    
    <sql id="columns">
        dept_id, org_id, parent_id, tree_id, role_id, level,
        code, name, status, memo,
        updator, update_time, creator, create_time
    </sql>
    
    <sql id="table">
        cuckoo.uum_department
    </sql>

    <insert id="save" parameterType="com.mycuckoo.domain.uum.Department"
            useGeneratedKeys="true" keyProperty="deptId" keyColumn="dept_id">
        insert into <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id, </if>
            <if test="orgId != null">org_id, </if>
            <if test="parentId != null">parent_id, </if>
            <if test="treeId != null and treeId != ''">tree_id, </if>
            <if test="roleId != null">role_id, </if>
            <if test="level != null">level, </if>
            <if test="code != null and code != ''">code, </if>
            <if test="name != null and name != ''">name, </if>
            <if test="memo != null and memo != ''">memo, </if>
            <if test="status != null">status, </if>
            <if test="updator != null">updator, </if>
            <if test="updateTime != null">update_time, </if>
            <if test="creator != null">creator, </if>
            <if test="createTime != null">create_time, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId}, </if>
            <if test="orgId != null">#{orgId}, </if>
            <if test="parentId != null">#{parentId}, </if>
            <if test="treeId != null and treeId != ''">#{treeId}, </if>
            <if test="roleId != null">#{roleId}, </if>
            <if test="level != null">#{memo}, </if>
            <if test="code != null and code != ''">#{code}, </if>
            <if test="name != null and name != ''">#{name}, </if>
            <if test="memo != null and memo != ''">#{memo}, </if>
            <if test="status != null">#{status}, </if>
            <if test="updator != null">#{updator}, </if>
            <if test="updateTime != null">#{updateTime}, </if>
            <if test="creator != null">#{creator}, </if>
            <if test="createTime != null">#{createTime}, </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.mycuckoo.domain.uum.Department">
        update <include refid="table" />
        <set>
            <if test="parentId != null">parent_id = #{parentId}, </if>
            <if test="treeId != null">tree_id = #{treeId}, </if>
            <if test="roleId != null">role_id = #{roleId}, </if>
            <if test="level != null">level = #{level}, </if>
            <if test="code != null">code = #{code}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="memo != null">memo = #{memo}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="updator != null">updator = #{updator}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
        </set>
        where dept_id = #{deptId}
    </update>

    <delete id="delete" parameterType="long">
        delete from <include refid="table" /> where dept_id = #{deptId}
    </delete>

    <select id="get" parameterType="long" resultMap="baseMap">
        select <include refid="columns" />
        from <include refid="table" />
        where dept_id = #{deptId}
    </select>

    <select id="findByPage" resultMap="baseMap">
        select
            t1.dept_id,
            t1.parent_id,
            t1.role_id,
            t1.code,
            t1.name,
            t1.status,
            t1.creator,
            t1.create_time,
            t2.name role_name
        from <include refid="table" /> t1
        left join cuckoo.uum_role t2 on t2.role_id = t1.role_id
        <include refid="whereStatement"/>
        order by t1.dept_id
    </select>

    <update id="updateTreeId">
        update <include refid="table" />
        set tree_id = replace(tree_id, concat(#{oldParentTreeId}, '.'), concat(#{newParentTreeId}, '.')),
          level = level + #{level}
        where tree_id like concat(#{oldParentTreeId}, '.%')
    </update>

    <select id="countByParentId" parameterType="long" resultType="int">
        select count(1)
        from <include refid="table" />
        where parent_id = #{id}
    </select>

    <select id="findByDeptIds" resultMap="baseMap">
        select
            t1.dept_id,
            t1.name,
            t1.role_id,
            t2.name role_name
        from <include refid="table" /> t1
        left join cuckoo.uum_role t2 on t2.role_id = t1.role_id
        where t1.dept_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <sql id="whereStatement">
        <where>
            <if test="q.name != null and q.name != ''">
                and q.name like concat('%', #{q.name}, '%')
            </if>
            <if test="q.treeId != null">
                and tree_id like concat(#{q.treeId}, '.%')
            </if>
        </where>
    </sql>
    
</mapper> 
